@page "/"

<PageTitle>PeaksHunters</PageTitle>

<Map @ref="mapRef" MapOptions="@mapOptions"></Map>

<style>
    #mapId {
        height: 100%;
        width: 100%;
        position: fixed;
    }
</style>

@code {
    private Map mapRef;
    private MapOptions mapOptions = new MapOptions()
    {
        DivId = "mapId",
        Center = new LatLng(63.4010888, 13.0822241),
        Zoom = 10,
        UrlTileLayer = "https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png",
	SubOptions = new MapSubOptions()
        {
            Attribution = "&copy; <a href='http://www.openstreetmap.org/copyright'>OpenStreetMap</a>,  <a href='https://opentopomap.org/credits'>OpenTopoMap</a>",
            TileSize = 256,
            ZoomOffset = 0,
            MaxZoom = 18,
        }
    };
}
